.topic {
	padding: 0 0 25px;
}

.rowclick tbody tr {
	cursor: pointer;
}

/********************************\
|* --- Refrigenator Fresh box ---|
\********************************/
table .card .title {
	display: inline-block;
	/*min-width: 30%;*/
	padding-right: 20px;
	font-weight: bold;
}

table .card .expire {
	display: block;
	float: right;
}

.refrige {
	position: relative;
}

.refrige table {
	width: 100%;
	border: solid 2px #A0A0A0;
	cursor: default;
}

.refrige .clearrow td {
	height: 1.5rem;
	border-left: 0!important;
	border-right: 0!important;
}

.refrige .clearrow2 td {
	height: 3rem;
}

.refrige .clearcell {
	height: 1.5rem;
}

.refrige table td:not(.clearrow) {
	border: solid 2px #A0A0A0;
	padding: 3px;
}

.refrige table td.active {
    border: solid 2px #000;
    background-color: #E4E4E4;
}

.refrige td {
	vertical-align: middle;
	text-align: center;
}
.refrige .row1 {
	height: 4rem;
}

.refrige .C td:not(.clearcell) {
	height: 6rem;
}

.refrige .Dright {
	height: 7rem;
}

.refrige .E {
	height: 19rem;
}

.refrige table {
	height: 100%;
}
.refrige table.Eright td{
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
}
.refrige table.Eright td:first-child {
	border-left: solid 2px #fff;
}
.refrige table.Eright td:last-child {
	border-right: solid 2px #fff;
}

.refrige .freeze {
	height: 9.5rem;
}

.refrige .other1 {
	height: 7rem;
}

.refrige .other2 {
	height: 6rem;
}

.refrige .meat {
	height: 5rem;
}

.refrige .vegetable {
	height: 12rem;
}